/*footer*/

footer{
    background: rgb(125,90,254);
    background: linear-gradient(132deg, rgba(125,90,254,1) 25%, rgba(160,84,244,1) 100%);
    text-align: center;
    padding: 25px 0px;
}

footer p{
    color: #fff;
}